<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Bender" version="3.0.1.0" targetFramework="net45" />
  <package id="Castle.Core" version="3.3.3" targetFramework="net45" />
  <package id="Castle.Windsor" version="3.3.0" targetFramework="net45" />
  <package id="Castle.Windsor.Lifestyles" version="0.4.0" targetFramework="net45" />
  <package id="flexo" version="1.0.0.18" targetFramework="net45" />
  <package id="Microsoft.AspNet.Mvc" version="5.2.2" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.2" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.2.2" targetFramework="net45" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="7.0.1" targetFramework="net45" />
  <package id="SimpleConfig" version="1.0.34.0" targetFramework="net45" />
</packages>